html 
  head
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet", href="/styles/custom.css")
  body
    header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          ul.navbar-nav.mr-auto.ml-auto
              li.nav-item
                a.navbar-brand(href='/')
                  |  CodersX  
              li.nav-item
                a.nav-link(href='/users') User List
              li.nav-item
                a.nav-link(href='/users/create') Create New User    
    main
      .container
        block content
        
    footer.page-footer.font-small.blue
      .footer-copyright.text-center.py-3
        | &copy; 2020 Copyright