html 
  head
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")

  body
    .container
      block content
      block foot
        footer(class="footer")
          .container
            span(class="text-muted") Lorem ipsum dolor sit amet.