extends ../layouts/common

block content
  h1 View User

  .container-fluid.d-flex.flex-column 
    .card.mx-auto.w-25
      img.card-img-top(src="../"+user.avatar, alt="")    
      .card-body
        h1.card-title=user.name
        p.card-text=user.phone  

    .row.justify-content-center.mt-2
      a.btn.btn-primary(href="/users") Back